###  **User Engagement Analysis**
In this task we will track the userâ€™s engagement using the following engagement metrics: 
* Sessions frequency 
* Duration of the session 
* Sessions total traffic (download and upload (MB))

In [4]:
# Import libraries

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [5]:
import os
import sys
import warnings
warnings.filterwarnings('ignore')
sys.path.append(os.path.abspath(os.path.join('../scripts')))

In [6]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
pd.set_option("expand_frame_repr", False)
pd.set_option('display.float_format', '{:.2f}'.format)

In [12]:
# Read cleaned Telecom dataset

cleaned_df = pd.read_csv('../data/cleaned_Telecom_data.csv')

In [13]:
# Compute the Total Data usage for each applications

cleaned_df["Social Media (Bytes)"] = cleaned_df["Social Media DL (Bytes)"] + cleaned_df['Social Media UL (Bytes)']
cleaned_df["Google (Bytes)"]       = cleaned_df["Google DL (Bytes)"] + cleaned_df["Google UL (Bytes)"]
cleaned_df['Youtube (Bytes)']      = cleaned_df["Youtube DL (Bytes)"] + cleaned_df["Youtube UL (Bytes)"]
cleaned_df['Netflix (Bytes)']      = cleaned_df["Netflix DL (Bytes)"] + cleaned_df["Netflix UL (Bytes)"]
cleaned_df["Gaming (Bytes)"]       = cleaned_df["Gaming DL (Bytes)"] + cleaned_df["Gaming UL (Bytes)"]
cleaned_df['Email (Bytes)']        = cleaned_df["Email DL (Bytes)"] + cleaned_df["Email UL (Bytes)"]
cleaned_df['Other (Bytes)']        = cleaned_df["Other DL (Bytes)"]+ cleaned_df["Other UL (Bytes)"]
cleaned_df['Total Data (Bytes)']   = cleaned_df['Total UL (Bytes)'] + cleaned_df['Total DL (Bytes)']

In [14]:
#  Replace the space with underscore

cleaned_df.columns = cleaned_df.columns.str.replace(" ", "_")
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149001 entries, 0 to 149000
Data columns (total 53 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Unnamed:_0                      149001 non-null  int64
 1   Bearer_Id                       149001 non-null  float64
 2   Start                           149001 non-null  object
 3   Start_ms                        149001 non-null  float64
 4   End                             149001 non-null  object
 5   End_ms                          149001 non-null  float64
 6   Dur._(ms)                       149001 non-null  float64
 7   IMSI                            149001 non-null  float64
 8   MSISDN/Number                   149001 non-null  float64
 9   IMEI                            149001 non-null  float64
 10  Last_Location_Name              149001 non-null  object
 11  Avg_RTT_DL_(ms)                 149001 non-null  float64
 12  Avg_RTT_UL_(ms)                 149001 non-null  float64
 13  Avg_Bearer_TP_DL_(kbps)         149001 non-null  float64
 14  Avg_Bearer_TP_UL_(kbps)         149001 non-null  float64
 15  DL_TP_<_50_Kbps_(%)             149001 non-null  float64
 16  50_Kbps_<_DL_TP_<_250_Kbps_(%)  149001 non-null  float64
 17  250_Kbps_<_DL_TP_<_1_Mbps_(%)   149001 non-null  float64
 18  DL_TP_>_1_Mbps_(%)              149001 non-null  float64
 19  UL_TP_<_10_Kbps_(%)             149001 non-null  float64
 20  10_Kbps_<_UL_TP_<_50_Kbps_(%)   149001 non-null  float64
 21  50_Kbps_<_UL_TP_<_300_Kbps_(%)  149001 non-null  float64
 22  UL_TP_>_300_Kbps_(%)            149001 non-null  float64
 23  Activity_Duration_DL_(ms)       149001 non-null  float64
 24  Activity_Duration_UL_(ms)       149001 non-null  float64
 25  Handset_Manufacturer            149001 non-null  object
 26  Handset_Type                    149001 non-null  object
 27  Nb_of_sec_with_Vol_DL_<_6250B   149001 non-null  float64
 28  Nb_of_sec_with_Vol_UL_<_1250B   149001 non-null  float64
 29  Social_Media_DL_(Bytes)         149001 non-null  float64
 30  Social_Media_UL_(Bytes)         149001 non-null  float64
 31  Google_DL_(Bytes)               149001 non-null  float64
 32  Google_UL_(Bytes)               149001 non-null  float64
 33  Email_DL_(Bytes)                149001 non-null  float64
 34  Email_UL_(Bytes)                149001 non-null  float64
 35  Youtube_DL_(Bytes)              149001 non-null  float64
 36  Youtube_UL_(Bytes)              149001 non-null  float64
 37  Netflix_DL_(Bytes)              149001 non-null  float64
 38  Netflix_UL_(Bytes)              149001 non-null  float64
 39  Gaming_DL_(Bytes)               149001 non-null  float64
 40  Gaming_UL_(Bytes)               149001 non-null  float64
 41  Other_DL_(Bytes)                149001 non-null  float64
 42  Other_UL_(Bytes)                149001 non-null  float64
 43  Total_UL_(Bytes)                149001 non-null  float64
 44  Total_DL_(Bytes)                149001 non-null  float64
 45  Social_Media_(Bytes)            149001 non-null  float64
 46  Google_(Bytes)                  149001 non-null  float64
 47  Youtube_(Bytes)                 149001 non-null  float64
 48  Netflix_(Bytes)                 149001 non-null  float64
 49  Gaming_(Bytes)                  149001 non-null  float64
 50  Email_(Bytes)                   149001 non-null  float64
 51  Other_(Bytes)                   149001 non-null  float64
 52  Total_Data_(Bytes)              149001 non-null  float64
dtypes: float64(47), int64(1), object(5)
memory usage: 60.2+ MB

### Task 2
Aggregate the above metrics per customer id (MSISDN) and report the top 10 customers per engagement metric

In [25]:
user_engagement_df = cleaned_df[['MSISDN/Number', 'Bearer_Id', 'Dur._(ms)', 'Total_Data_(Bytes)']].copy().rename(columns={
    'Bearer_Id': 'Session_Id', 'MSISDN/Number':'Customer_Id', 'Dur._(ms)': 'Duration', 'Total_Data_(Bytes)': 'Total_Data_Volume'})

In [27]:

user_engagement = user_engagement_df.groupby('Customer_Id').agg({'Session_Id': 'count', 'Duration': 'sum', 'Total_Data_Volume': 'sum'})
user_engagement.head(10)

                Session_Id  Duration  Total_Data_Volume
Customer_Id
33601001722.00           1 116720.00       878690574.00
33601001754.00           1 181230.00       156859643.00
33601002511.00           1 134969.00       595966483.00
33601007832.00           1  49878.00       422320698.00
33601008617.00           2  37104.00      1457410944.00
33601010682.00           2 253983.00       615217221.00
33601011634.00           2 128360.00       654723066.00
33601011959.00           1  86399.00       332660357.00
33601014694.00           2 495702.00       990132189.00
33601020306.00           1 124854.00       732463761.00