In [1]:
# Import modules for our task

import pickle
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import StandardScaler, normalize

In [11]:
# Import system libraries and our Scripts

import os
import sys
import warnings
warnings.filterwarnings('ignore')
sys.path.append(os.path.abspath(os.path.join('../scripts')))
from user_overview_script import UserOverviewScript
from df_cleaning import DataFrameCleaning
from df_info import DataFrameInfo
from df_outlier import *
from plots import *

In [12]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
pd.set_option("expand_frame_repr", False)
pd.set_option('display.float_format', '{:.2f}'.format)

In [19]:
# Read Engagment and Experience Telecom dataset

user_engagement  = pd.read_csv('../data/user_engagement.csv')
user_experiance = pd.read_csv('../data/user_experiance.csv')

In [20]:
user_engagement.head()

     Customer_Id  Cluster  Session_Frequency  Duration  Total_Data_Volume
0 33601001722.00        3               1.00 116720.00       878690574.00
1 33601001754.00        2               1.00 181230.00       156859643.00
2 33601002511.00        2               1.00 134969.00       595966483.00
3 33601007832.00        0               1.00  49878.00       422320698.00
4 33601008617.00        1               2.00  37104.00      1457410944.00

In [21]:
user_experiance.head()

   MSISDN_Number  Cluster  Total_Avg_RTT  Total_Avg_Bearer_TP  Total_Avg_TCP
0 33601001722.00        0           0.05                76.00        3919.15
1 33601001754.00        1           0.03                99.00        1119.76
2 33601002511.00        1           0.05                97.00        1119.76
3 33601007832.00        1           0.08               248.00         366.24
4 33601008617.00        2           0.12             56844.00        1858.68