### Exploratory Data Analysis (EDA) and Cleaning
In this notebook file we will perform the following tasks:
* Understanding the data
* Check the number of null values in the data
* Remove null valued rows
* Perform other preprocessing tasks
* Save the cleaned data

In [1]:
# Import modules for our task
import os
import sys
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt

In [2]:
# Import our python scripts
sys.path.append(os.path.abspath(os.path.join('..')))
from scripts.df_info import DataFrameInfo

#### Read the original Data

In [3]:
# pd.set_option('max_column', 55)
pd.options.display.float_format = "{:.3f}".format
df = pd.read_csv('../data/Week1_challenge_data_source(CSV).csv', na_values=['?', None])

df.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,13114483460844900352.000,4/4/2019 12:01,770.000,4/25/2019 14:35,662.000,1823652.000,208201448079117.000,33664962239.000,35521209507511.000,9.16456699548519E+015,...,15854611.000,2501332.000,8198936.000,9656251.000,278082303.000,14344150.000,171744450.000,8814393.000,36749741.000,308879636.000
1,13114483482878900224.000,4/9/2019 13:04,235.000,4/25/2019 8:15,606.000,1365104.000,208201909211140.000,33681854413.000,35794009006359.000,L77566A,...,20247395.000,19111729.000,18338413.000,17227132.000,608750074.000,1170709.000,526904238.000,15055145.000,53800391.000,653384965.000
2,13114483484080500736.000,4/9/2019 17:42,1.000,4/25/2019 11:58,652.000,1361762.000,208200314458056.000,33760627129.000,35281510359387.000,D42335A,...,19725661.000,14699576.000,17587794.000,6163408.000,229584621.000,395630.000,410692588.000,4215763.000,27883638.000,279807335.000
3,13114483485442799616.000,4/10/2019 0:31,486.000,4/25/2019 7:36,171.000,1321509.000,208201402342131.000,33750343200.000,35356610164913.000,T21824A,...,21388122.000,15146643.000,13994646.000,1097942.000,799538153.000,10849722.000,749039933.000,12797283.000,43324218.000,846028530.000
4,13114483499480700928.000,4/12/2019 20:10,565.000,4/25/2019 10:40,954.000,1089009.000,208201401415120.000,33699795932.000,35407009745539.000,D88865A,...,15259380.000,18962873.000,17124581.000,415218.000,527707248.000,3529801.000,550709500.000,13910322.000,38542814.000,569138589.000

#### Information about the Telecom Data

In [4]:
# Instantiate DataFrameInfo classes for getting information about the data 
df_info = DataFrameInfo(df)

In [5]:
# column names
df_info.get_columns_list()

['Bearer Id',
 'Start',
 'Start ms',
 'End',
 'End ms',
 'Dur. (ms)',
 'IMSI',
 'MSISDN/Number',
 'IMEI',
 'Last Location Name',
 'Avg RTT DL (ms)',
 'Avg RTT UL (ms)',
 'Avg Bearer TP DL (kbps)',
 'Avg Bearer TP UL (kbps)',
 'TCP DL Retrans. Vol (Bytes)',
 'TCP UL Retrans. Vol (Bytes)',
 'DL TP < 50 Kbps (%)',
 '50 Kbps < DL TP < 250 Kbps (%)',
 '250 Kbps < DL TP < 1 Mbps (%)',
 'DL TP > 1 Mbps (%)',
 'UL TP < 10 Kbps (%)',
 '10 Kbps < UL TP < 50 Kbps (%)',
 '50 Kbps < UL TP < 300 Kbps (%)',
 'UL TP > 300 Kbps (%)',
 'HTTP DL (Bytes)',
 'HTTP UL (Bytes)',
 'Activity Duration DL (ms)',
 'Activity Duration UL (ms)',
 'Dur. (ms).1',
 'Handset Manufacturer',
 'Handset Type',
 'Nb of sec with 125000B < Vol DL',
 'Nb of sec with 1250B < Vol UL < 6250B',
 'Nb of sec with 31250B < Vol DL < 125000B',
 'Nb of sec with 37500B < Vol UL',
 'Nb of sec with 6250B < Vol DL < 31250B',
 'Nb of sec with 6250B < Vol UL < 37500B',
 'Nb of sec with Vol DL < 6250B',
 'Nb of sec with Vol UL < 1250B',
 'Social Media DL (Bytes)',
 'Social Media UL (Bytes)',
 'Google DL (Bytes)',
 'Google UL (Bytes)',
 'Email DL (Bytes)',
 'Email UL (Bytes)',
 'Youtube DL (Bytes)',
 'Youtube UL (Bytes)',
 'Netflix DL (Bytes)',
 'Netflix UL (Bytes)',
 'Gaming DL (Bytes)',
 'Gaming UL (Bytes)',
 'Other DL (Bytes)',
 'Other UL (Bytes)',
 'Total UL (Bytes)',
 'Total DL (Bytes)']

In [6]:
# Get the number of data points
print(f" There are {df.shape[0]} rows and {df.shape[1]} columns")

 There are 150001 rows and 55 columns

In [7]:
# Get a detailed information about the data
df_info.detail_info()

AttributeError: 'DataFrameInfo' object has no attribute 'detail_info'